.button {
  background: var(--sheev-palpatine);
  opacity: 0.5;
  border: 1px solid var(--princess-leia);
  box-shadow: inset 0px 4px 12px -4px var(--yoda);
  border-radius: 40px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--chewbacca);
}
