.label {
  color: var(--hun-solo);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-small);
  margin-right: 16px;
}

.selectNumberPagesLayout {
  display: flex;
  align-items: center;
}
