.input {
  background: var(--darth-vader);
  border-radius: 16px;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  padding: 0 16px;

  &::placeholder {
    color: var(--luke-skywalker);
    font-weight: var(--font-weight-2);
  }

  &:focus {
    color: var(--hun-solo);
  }
}
