.userTableList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  background-color: var(--darth-vader);
  border-radius: 16px;
  padding: 0 9px 12px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.loader {
  padding: 1em;
  color: var(--hun-solo);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
